*,*:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.centrar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 3850ms;
    background-image: url('images/fondo.png');
}

.caja {
    width: 350px;
    height: 170px;
    position: absolute;
    background-image: url('images/fondo.png');
    
}
.puntero {
    position: absolute;
    width: 350px;
    z-index: 1;
    animation-duration: 1s !important;
}

.my {
    position: absolute;
    width: 350px;
    z-index: 2;
    animation-duration: 1s !important;
}

.mouse {
    position: absolute;
    width: 350px;
    z-index: 3;
    animation-duration: 1s !important;
}

.michelyazo {
    position: absolute;
    width: 350px;
    z-index: 4;
}

.mediaproducer {
    position: absolute;
    width: 350px;
    z-index: 5;
}

